<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Calculator</title>
</head>

<body>

	<div id="app">
		<div class="grid">
			<input type="text" v-model="result" placeholder="0" @keyup.enter="calc()">
			<a href="#" class="cell num" v-for="num in numbers" v-on:click="input(num)">{{num}}</a>
			<a href="#" class="cell op" v-for="op in operations" v-on:click="input(op)">{{op}}</a>
			<a href="#" class="cell op" v-on:click="squared()">x&#178</a>
			<a href="#" class="cell op" v-on:click="reset()">R</a>
			<a href="#" class="cell op" v-on:click="calc()">=</a>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="js/script.js"></script>
</body>

</html>